.header {
    position: absolute;
    width: 100%;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $borderColorGrey;

        @include mediaMobile {
            border-bottom: none;
            padding: 20px;
        }
    }

    &__button {
        .section__btn-icon {
            path {
                stroke: #fff;
            }
        }

        &:hover, &:active {
            .section__btn-icon {
                path {
                    stroke: #fff;
                }
            }
        }
    }

    &__logo {
        display: flex;
        width: 180px;
        height: 26px;

        @include mediaMobile {
            width: 105px;
            height: 15px;
        }
    }

    &__logo-part {
        max-width: 100%;
        max-height: 100%;
    }

    &__burger-btn {
        border: none;
        outline: none;
        background: transparent;
        display: none;
        width: 24px;
        height: 18px;

        @include mediaMobile {
            display: block;

            &:active {
                .header__burger-icon path{  
                    fill: rgb(215, 211, 211);
                }
            }
        }
    }

    &__burger-icon {
        path {
            fill: white;
        }
    }
}

.nav {
    &__list {
        display: flex;
    }

    &__item {
        padding: 35px;
        transition: border-bottom .3s ease-in-out;

        &.active {
            border-bottom: 2px solid $borderColorGrey;
        }

        &:hover {
            cursor: pointer;
            border-bottom: 2px solid $borderColorGrey;
        }

        &:active {
            border-bottom: 2px solid $colorRedAccent;

            .nav__link {
                color: $colorRedAccent;
            }
        }
    }

    &__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        @include fontStyle($fontRaleway, 700, 13);
        transition: color .3s ease-in-out;

        @include mediaTablet {
            @include fontSize(12);
        }
    }

    @include mediaMobile {
        display: none;
    }
}
